{{day.tmin}}° ~ {{day.tmax}} °<br/>
{{day.condition}}<br/>
<img src="{{day.icon_big}}"/>
<table id="hour-table">
  <thead>
  <tr>
    <th>Heure</th>
    <th>Condition</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>0H00</td>
    <td><app-hour [hour]="day.hourly_data.t0H00"></app-hour></td>
  </tr>
  <tr>
    <td>1H00</td>
    <td><app-hour [hour]="day.hourly_data.t1H00"></app-hour></td>
  </tr>
  <tr>
    <td>2H00</td>
    <td><app-hour [hour]="day.hourly_data.t2H00"></app-hour></td>
  </tr>
  <tr>
    <td>3H00</td>
    <td><app-hour [hour]="day.hourly_data.t3H00"></app-hour></td>
  </tr>
  <tr>
    <td>4H00</td>
    <td><app-hour [hour]="day.hourly_data.t4H00"></app-hour></td>
  </tr>
  <tr>
    <td>5H00</td>
    <td><app-hour [hour]="day.hourly_data.t5H00"></app-hour></td>
  </tr>
  <tr>
    <td>6H00</td>
    <td><app-hour [hour]="day.hourly_data.t6H00"></app-hour></td>
  </tr>
  <tr>
    <td>7H00</td>
    <td><app-hour [hour]="day.hourly_data.t7H00"></app-hour></td>
  </tr>
  <tr>
    <td>8H00</td>
    <td><app-hour [hour]="day.hourly_data.t8H00"></app-hour></td>
  </tr>
  <tr>
    <td>9H00</td>
    <td><app-hour [hour]="day.hourly_data.t9H00"></app-hour></td>
  </tr>
  <tr>
    <td>10H00</td>
    <td><app-hour [hour]="day.hourly_data.t10H00"></app-hour></td>
  </tr>
  <tr>
    <td>11H00</td>
    <td><app-hour [hour]="day.hourly_data.t11H00"></app-hour></td>
  </tr>
  <tr>
    <td>12H00</td>
    <td><app-hour [hour]="day.hourly_data.t12H00"></app-hour></td>
  </tr>
  <tr>
    <td>13H00</td>
    <td><app-hour [hour]="day.hourly_data.t13H00"></app-hour></td>
  </tr>
  <tr>
    <td>14H00</td>
    <td><app-hour [hour]="day.hourly_data.t14H00"></app-hour></td>
  </tr>
  <tr>
    <td>15H00</td>
    <td><app-hour [hour]="day.hourly_data.t15H00"></app-hour></td>
  </tr>
  <tr>
    <td>16H00</td>
    <td><app-hour [hour]="day.hourly_data.t16H00"></app-hour></td>
  </tr>
  <tr>
    <td>17H00</td>
    <td><app-hour [hour]="day.hourly_data.t17H00"></app-hour></td>
  </tr>
  <tr>
    <td>18H00</td>
    <td><app-hour [hour]="day.hourly_data.t18H00"></app-hour></td>
  </tr>
  <tr>
    <td>19H00</td>
    <td><app-hour [hour]="day.hourly_data.t19H00"></app-hour></td>
  </tr>
  <tr>
    <td>20H00</td>
    <td><app-hour [hour]="day.hourly_data.t20H00"></app-hour></td>
  </tr>
  <tr>
    <td>21H00</td>
    <td><app-hour [hour]="day.hourly_data.t21H00"></app-hour></td>
  </tr>
  <tr>
    <td>22H00</td>
    <td><app-hour [hour]="day.hourly_data.t22H00"></app-hour></td>
  </tr>
  <tr>
    <td>23H00</td>
    <td><app-hour [hour]="day.hourly_data.t23H00"></app-hour></td>
  </tr>
  </tbody>
</table>
