<h1>Prévision</h1>

<h2>information ville</h2>
nom: {{prevision.city_info.name}}<br/>
pays: {{prevision.city_info.country}}<br/>
latitude: {{prevision.city_info.latitude}}<br/>
longitude: {{prevision.city_info.longitude}}<br/>
elevation: {{prevision.city_info.elevation}}<br/>
sunrise: {{prevision.city_info.sunrise}}<br/>
sunset: {{prevision.city_info.sunset}}<br/>


<h2>Condition actuelle</h2>
date: {{prevision.current_condition.date}}<br/>
heure: {{prevision.current_condition.hour}}<br/>
vitesse de vent: {{prevision.current_condition.wnd_spd}}<br/>
direction de vent: {{prevision.current_condition.wnd_dir}}<br/>
puissance de vent: {{prevision.current_condition.wnd_gust}}<br/>
pression: {{prevision.current_condition.pressure}}<br/>
humidité: {{prevision.current_condition.humidity}}<br/>
condition: {{prevision.current_condition.condition}}<br/>
icon: <img src="{{prevision.current_condition.icon}}"/><br/>
<img src="{{prevision.current_condition.icon_big}}"/>

<h2>day 0</h2>
min: {{prevision.fcst_day_0.tmin}}<br/>
max: {{prevision.fcst_day_0.tmax}}<br/>
condition: {{prevision.fcst_day_0.condition}}<br/>
<img src="{{prevision.fcst_day_0.icon_big}}"/>

<h2>day 1</h2>
min: {{prevision.fcst_day_1.tmin}}<br/>
max: {{prevision.fcst_day_1.tmax}}<br/>
condition: {{prevision.fcst_day_1.condition}}<br/>
<img src="{{prevision.fcst_day_1.icon_big}}"/>

<h2>day 2</h2>
min: {{prevision.fcst_day_2.tmin}}<br/>
max: {{prevision.fcst_day_2.tmax}}<br/>
condition: {{prevision.fcst_day_2.condition}}<br/>
<img src="{{prevision.fcst_day_2.icon_big}}"/>

<h2>day 3</h2>
min: {{prevision.fcst_day_3.tmin}}<br/>
max: {{prevision.fcst_day_3.tmax}}<br/>
condition: {{prevision.fcst_day_3.condition}}<br/>
<img src="{{prevision.fcst_day_3.icon_big}}"/>

<h2>day 4</h2>
min: {{prevision.fcst_day_4.tmin}}<br/>
max: {{prevision.fcst_day_4.tmax}}<br/>
condition: {{prevision.fcst_day_4.condition}}<br/>
<img src="{{prevision.fcst_day_4.icon_big}}"/>