<h1>Prévision</h1>

<h2>{{prevision?.city_info.name}} ({{prevision?.city_info.country}})</h2>
latitude: {{prevision?.city_info.latitude}}<br/>
longitude: {{prevision?.city_info.longitude}}<br/>
elevation: {{prevision?.city_info.elevation}}<br/>
sunrise: {{prevision?.city_info.sunrise}}<br/>
sunset: {{prevision?.city_info.sunset}}<br/>

<app-current-condition *ngIf="prevision != null" [currentCondition]="prevision?.current_condition"></app-current-condition>

<table border="1">
  <tr>
    <th><h2>day 0</h2></th>
    <th><h2>day 1</h2></th>
    <th><h2>day 2</h2></th>
    <th><h2>day 3</h2></th>
    <th><h2>day 4</h2></th>
  </tr>
  <tr>
    <td><app-day [day]="prevision?.fcst_day_0" *ngIf="prevision != null"></app-day></td>
    <td><app-day [day]="prevision?.fcst_day_1" *ngIf="prevision != null"></app-day></td>
    <td><app-day [day]="prevision?.fcst_day_2" *ngIf="prevision != null"></app-day></td>
    <td><app-day [day]="prevision?.fcst_day_3" *ngIf="prevision != null"></app-day></td>
    <td><app-day [day]="prevision?.fcst_day_4" *ngIf="prevision != null"></app-day></td>
  </tr>
</table>
