<!--<form [formGroup]="myForm">-->
  <mat-form-field>
    <input #searchingText type="text" placeholder="Recherche d'une localité (nom ou code postal)" (keyup)="search(myControl.value)" (keyup.enter)="getPrevisionOfCity(myControl.value)" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of options" [value]="city.loc_url" (click)="search(city.loc_url)">
        {{city.label}}, {{city.region}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
<!--</form>-->

<!--<form class="example-form" >-->
  <!--<mat-form-field class="example-full-width">-->
    <!--<input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
    <!--<mat-autocomplete #auto="matAutocomplete">-->
      <!--<mat-option *ngFor="let option of options" [value]="option">-->
        <!--{{option}}-->
      <!--</mat-option>-->
    <!--</mat-autocomplete>-->
  <!--</mat-form-field>-->
<!--</form>-->